* {
    margin: 0;
    /* border: 2px solid red; */
}

:root {
    --bg-color: #22212C;
    --bg-color-cards: #302F3D;
    --text-color: #837E9F;

}

.light {
    --bg-color: ;
    --bg-color-cards: ;
    --text-color: ;
}

#body {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    gap: 40px;
    height: 100vh;
    padding: 40px;
    background: var(--bg-color);
}
/* sempre sds card  */

.profile {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 348px;
    height: 292px;
    left: 40px;
    top: 40px;
    background: var(--bg-color-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.profile img {
    margin-top: 32px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 30px;
    width: 128px;
    height: 128px;
}

.profile #name {
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    line-height: 29px;
    display: grid;
    place-items: center;
}

.profile #dsc {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    place-items: center;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

.projects {

    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 25px;
    left: 40px;
    top: 40px;
    background: var(--bg-color-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.projects #proj {
    width: max-content;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#container .links {
    background: var(--bg-color-cards);
    width: auto;
    height: auto;
    padding: 1rem;
    line-height: 2;
    font-size: 15px;

    display: inline;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#container .technologies {
    background: var(--bg-color-cards);
    width: auto;
    height: 200px;
    padding: 1rem;
    line-height: 2;
    font-size: 15px;

    display: inline;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#containerpai {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#container2 .project1 {
    width: 100%;
    height: 200px;
    left: 40px;
    top: 40px;
    background: var(--bg-color-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

#container2 .project2 {
    width: 100%;
    height: 200px;
    left: 40px;
    top: 40px;
    background: var(--bg-color-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

#container2 .posts {
    width: 100%;
    height: 200px;
    left: 40px;
    top: 40px;
    background: var(--bg-color-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.technologies #name-posts {
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    line-height: 29px;
    display: grid;
    padding-bottom: 10px;
}

.containerdev {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 20px 15px;
}

ul li {
    background: #CB92B1;
    border-radius: 24px;
    width: 86px;
    /* height: 24px; */
    white-space: pre;
}

ul li p {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 10px;
    color: black;

    text-decoration: none;
    font-weight: 500;
}