
:root {
    --bg-color: #22212C;
    --bg-color-cards: #302F3D;
    --text-color: #837E9F;

}
body  {
    font-family: 'Merriweather Sans', sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    
    
    padding: 40px;
    background: var(--bg-color);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position:  absolute;
    width: 348px;
    height: 292px;
    left: 40px;
    top: 40px;
    


    background: var(--bg-color-cards);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}


.profile img {
    margin-top: 32px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 30px;
    width: 128px;
    height: 128px;
 
}

#name {
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    line-height: 29px;
}

.profile #name {

    display: grid;
    place-items: center;
    border: 2px solid red;

}

.profile #dsc {
    margin-top: 10px;
    display: grid;
    place-items: center;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    border: 2px solid red;

}

.projects {
    position: absolute;
    width: 852px;
    height: 86px;
    left: 448px;
    top: 40px;
    border: solid 2px red   ;
    display: inline;
    
    background: var(--bg-color-cards);
    border-radius: 20px ;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.projects #proj {
    
    display: grid;
    margin-top: 30px;
    margin-left: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    border: solid 2px red;

}

.projects #todo {
    border: solid 2px red;

}